<div class="ui segment">
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
        <h2 style="margin: 0;" class="ui header">Your KWM Lists</h2>
        <button routerLink="/edit/kwmlist" routerLinkActive="active" class="ui icon button green"><i class="add icon"></i></button>  
    </div>
    
    @if (kwmlists) {
        @for (kwmlist of kwmlists; track kwmlists) {
            <a class="bs-kwmlist-list-item" style="display: flex; align-items: center; justify-content: flex-start; gap: 5px;"[kwmlist]="kwmlist" [routerLink]="'' + kwmlist.id">
            </a>
            <div class="ui divider"></div>

        }
    } @else {No Kwmlists yet!}
</div>
