<div class="ui segment">
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
        <h2 style="margin: 0;" class="ui header">Todos</h2>
        <button class="ui icon button green"><i class="add icon"></i></button>  
    </div>
    @if(todos) {
    <div class="ui relaxed divided list">
        @for (todo of todos; track todos) {
        <div class="item bs-todo-list-item" [todo]="todo"></div>
            
        }
    </div>
    }     @else {No todos yet!}

</div>