<div class="ui segment">
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
        <h2 style="margin: 0;" class="ui header">Todos</h2>
        @if(authService.isLoggedIn()){

        <button routerLink="/edit/todo" routerLinkActive="active" class="ui icon button green"><i
                class="add icon"></i></button>
        }
    </div>
    <div style="margin-bottom: 20px;">
        @for (tag of tags; track tag) {
        <label>
            <input type="checkbox" [(ngModel)]="selectedTags[tag.name]" (change)="filterTodos()" /> {{ tag.name }}

        </label>
        }
    </div>

    @if(todos && filteredTodos) {
    <div class="ui relaxed divided list">
        @for (todo of filteredTodos; track todo) {
        <div class="item bs-todo-list-item" [todo]="todo"></div>
        }
    </div>
    } @else {
    No todos yet
    }
</div>