<div class="ui segment">
    <h2 class="ui header">Note List</h2>
    @if (notes) {
    <div class="ui relaxed divided list">
        @for (note of notes; track notes) {
        <div class="item">
            <img class="ui avatar image" [src]="note.image_url">
            <div class="content">
                <h3 class="ui header"><a>{{note.title}}</a></h3>
                <div class="description"><p>{{note.text}}</p></div>
                <div class="ui labels">

                    @if(note.tags || note.todos) {
                        @if(note.todos) {
                            <a class="ui label">{{note.todos.length}} Todos</a>
                        }
                    @for (tag of note.tags; track tag) {
                    <a class="ui tag label blue">{{tag.name}}</a>
                    }
                    }
                </div>


            </div>
        </div>
        }
    </div>
    }

    @else {No notes yet!}
</div>