@if(kwmlist) {
    <h1>{{kwmlist.name}}</h1>
    <button class="ui icon button blue" [routerLink]="['../../edit/kwmlist',kwmlist.id]"><i class="edit icon"></i></button>  
    <button class="ui icon red button" (click)="removeKwmlist()"><i class="trash icon"></i></button>  



    <div class="ui segment">
        <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
            <h2 style="margin: 0;" class="ui header">Notes</h2>
            <button class="ui icon button green"><i class="add icon"></i></button>  
        </div>
        @if (kwmlist.notes) {
        <div class="ui relaxed divided list">
            @for (note of kwmlist.notes; track kwmlist.notes) {
                <a class="item bs-note-list-item" [note]="note" [routerLink]="'' + note.id"></a>
                }
        </div>
        }
    
        @else {No notes yet!}
    </div>
}



<button [routerLink]="'/kwmlists'" class="ui blue button">Back to Kwmlists</button>
